<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sky.mapper.MenuMapper">

    <update id="edit">
        UPDATE menu
        <set>
            MenuName = #{menuName},
                menuPic = #{menuPic},
                menuDescription = #{menuDescription},
                menuPrice = #{menuPrice},
        </set>
        WHERE MenuId = #{menuId}
        AND MerchantId = #{merchantId}
    </update>

    <delete id="delete">
        DELETE FROM menu
        WHERE MenuId IN
        <foreach item="id" collection="menuIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND MerchantId = #{merchantId}
    </delete>



    <select id="findByMenuId" resultType="com.example.sky.entity.Menu">
        SELECT * FROM menu
        <where>
            <if test="menuName != null and menuName != ''">
                AND MenuName LIKE CONCAT('%', #{menuName}, '%')
            </if>
            <if test="merchantId != null">
                AND MerchantId = #{merchantId}
            </if>
        </where>
    </select>

    <insert id="add">
        INSERT INTO menu(MenuName, MenuPic, MenuDescription, MenuPrice, MerchantId) VALUES (#{menuName}, #{menuPic}, #{menuDescription}, #{menuPrice}, #{merchantId})
    </insert>
</mapper> 